.episodeList
  @include outer-container(100%)
  @include margin(modular-scale(1) null)

  .episode
    @include row()
    @include margin(modular-scale(1) null)

    .guid
      @include span-columns(1)
      text-align: right
      font-size: modular-scale(1)

    .description
      @include span-columns(11)

      > a
        display: block
        font-size: modular-scale(1)

      audio
        @include margin(modular-scale(0.5) null)

      .summary
        font-size: modular-scale(1)

      .narrator, .contributors
        font-size: 0.85em