doctype html
html
  head
    link(href='/css/main.css' rel='stylesheet')
    link(href='/feed.rss' rel='alternate' type='application/rss+xml' title='RSS')
  body
    #header
      h1 Poor Impulse Control
        span#subtitle an audiobook podcast
    section#main
      nav
        .nav-button#about
          a(href='/about')
            | about
        .nav-button#contributors
          a(href='/contributors')
            | contributors
      block content