extends ../_layout

block content
  article.captured
    header
      h1 Narrators

    +contributors(episode_map.narrators)

  article.captured
    header
      h1 Players

    +contributors(episode_map.contributors)