extends ../_layout


block content
  - var keys = Object.keys(supporters).sort()

  if(first10 > 0)
    article.captured
      header
        h1 First 10 Supporters

      ul.supporters-list
        each key in keys
          +supporter(key, 'first10')

  if(first50 > 0)
    article.captured
      header
        h1 First 50 Supporters

      ul.supporters-list
        each key in keys
          +supporter(key, 'first50')

  if(first100 > 0)
    article.captured
      header
        h1 First 100 Supporters

      ul.supporters-list
        each key in keys
          +supporter(key, 'first100')

  if(remaining > 0)
    article.captured
      header
        h1 All other active supporters

      ul.supporters-list
        each key in keys
          +supporter(key, 'active')
