extends ../_layout

block content
  article.captured
    header
      h1 Coming Soon

    .summary
      | This page will contain all of the supporters that have supported the show from our&nbsp;
      a(href='http://patreon.com/poorimpulse') patreon
      |  campaign.  If you would like to support the show, please visit&nbsp;
      a(href='http://patreon.com/poorimpulse') patreon.com/poorimpulse
      |  to support the show.  Even $1 per episode helps.

    .summary
      | And because I believe in complete transparency, I'm including all fund tracking in a publicly available
      | spreadsheet.  Visit the&nbsp;
      a(href='https://docs.google.com/spreadsheets/d/1UZgl_x8cHSn2ghNRWDcGoMmyUcPpZUJMwddh7tqn5PQ/edit?usp=sharing') fund tracking spreadsheet
      | .